<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <% link_to user_path(book.user) do %>
          <%= attachment_image_tag(book.user, :profile_image_id, :fill, 50, 50, fallback: "Ruby.png" )%>
        <% end %>
      </td>
      <td>
        <%= link_to book.title, book_path(book) %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>